.btn {
}

.btn-inline {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid currentColor;
  color: $color-primary;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  padding-bottom: 2px;
  transition: all .2s;

  // if a Link element instead of button
  &:link,
  &:visited {
    padding: .75rem 1rem;
  }

  &:hover {
    color: $color-grey-dark-1;

    .btn-inline__arrow {
      margin-left: 8px;
    }
  }

  &:focus {
    animation: pulsate 1s infinite;
    outline: none;
  }
}

.btn-inline__arrow {
  margin-left: 3px;
  transition: margin-left .2s;
}

@keyframes pulsate {
  0% {
    box-shadow: none;
    transform: scale(1);
  }

  50% {
    background-color: transparent;
    box-shadow: $shadow-primary-dark-small;
    transform: scale(1.05);
  }

  100% {
    box-shadow: none;
    transform: scale(1);
  }
}
