.sidebar {
  background-color: $color-grey-dark-1;
  display: flex;

  // grow: 0, shrink: 0, basis 20%
  flex: 0 0 22rem;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: $bp-desktop) {
    flex: 0 0 19rem;
  }

  @media only screen and (max-width: $bp-tablet-land) {
    flex: 0 0 auto;
  }
}

// SIDE NAVIGATION
.side-nav {
  flex: 0 0;
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media only screen and (max-width: $bp-tablet-land) {
    display: flex;
    margin: 0;
  }
}

.side-nav__item {
  align-items: stretch;
  position: relative;

  &:not(:last-child) {
    margin-bottom: .5rem;

    @media only screen and (max-width: $bp-tablet-land) {
      margin: 0;
    }
  }

  @media only screen and (max-width: $bp-tablet-land) {
    flex: 1; // Occupy all available space
  }

  &::before {
    background-color: $color-primary;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleY(0); // Starts from the middle and expands both up and down

    // Width delay .3s, duration .2s
    transition: transform .2s, width .3s cubic-bezier(.82, 0, .14, 1) .2s,
      background-color .1s;
    width: 3px;
  }

  // Active class same state as hover
  &:hover::before,
  &--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  // On click
  &:active::before {
    background-color: $color-primary-light;
  }
}

.side-nav__link {
  &:link,
  &:visited {
    align-items: center;
    //  background: $color-grey-dark-3;
    color: $color-grey-light-1;
    display: flex;
    padding: 1rem 2rem;
    position: relative; // Have to be specified for the z-index to work
    text-transform: uppercase;
    z-index: 10; // On top of the pseudo element, check position

    @media only screen and (max-width: $bp-tablet-land) {
      justify-content: center;
      padding: 2rem;
    }

    @media only screen and (max-width: $bp-tablet-port) {
      flex-direction: column;
      padding: 1.5rem;
    }
  }
}

.side-nav__icon {
  fill: currentColor;
  height: $icon-size-s;
  margin-right: 2rem;
  width: $icon-size-s;

  @media only screen and (max-width: $bp-tablet-port) {
    height: $icon-size-xs;
    margin-bottom: .5rem;
    margin-right: 0;
    width: $icon-size-xs;
  }
}

// LEGAL TEXT
.legal {
  align-self: center;
  color: $color-grey-light-4;
  font-size: 1.2rem;
  order: 2;
  padding: 2.5rem;

  @media only screen and (max-width: $bp-tablet-land) {
    display: none;
  }
}
