.cta {
  padding: $spacing-l $spacing-m;
  text-align: center;

  @media only screen and (max-width: $bp-tablet-land) {
    padding: $spacing-m $spacing-s;
  }

  @media only screen and (max-width: $bp-mobile) {
    padding: $spacing-m $spacing-xs;
  }
}

.cta__book-now {
  font-size: $font-size-l;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: $spacing-m;
}
