.cta {
  padding: $spacing-m 0 $spacing-l 0;
  text-align: center;

  @media only screen and (max-width: $bp-tablet-land) {
    padding: $spacing-s 0 $spacing-m 0;
  }
}

.cta__book-now {
  font-size: $font-size-l;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: $spacing-m;
}
