.hotel-reviews {
  align-items: center;
  background-color: white;
  display: flex;
  flex: 1; // Occupy the remaining space;
  flex-direction: column;
  font-size: $font-size-m;
  padding: 0;

  @media only screen and (max-width: $bp-tablet-land) {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: $spacing-xl;
  }
}

.review {
  background-color: $color-grey-light-2;
  box-shadow: $shadow-primary-medium;
  margin-bottom: $spacing-m;
  overflow: hidden;
  padding: $spacing-m;
  position: relative;

  @media only screen and (max-width: $bp-tablet-land) {
    flex: 0 0 45%; // 2 items per row
    margin-bottom: $spacing-l;

    &:not(:last-of-type) {
      margin-right: 5%;
    }
  }

  @media only screen and (max-width: $bp-tablet-port) {
    flex: 0 0 100%; // 1 item per row

    &:not(:last-of-type) {
      margin-right: 0;
    }
  }

  &::before {
    color: $color-grey-light-1;
    content: '\201C'; // “ left double quotation mark
    font-family: sans-serif;
    font-size: 20rem;
    left: -1rem;
    line-height: 1; // To reduce the size and position it correctly
    position: absolute;
    top: -2.75rem;
  }
}

.review__text {
  margin-bottom: $spacing-s;
  position: relative; // For the z-index to work
  z-index: $z-index-high;
}

.review__user {
  align-items: center;
  display: flex;
}

.review__photo {
  border-radius: 50px;
  height: 4.5rem;
  width: 4.5rem;
  margin-right: $spacing-s;
}

.review__user-box {
}

.review__user-name {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: .4rem;
}

.review__user-date {
  color: $color-grey-dark-2;
  font-size: $font-size-xs;
}

.review__rating {
  color: $color-primary;
  font-size: $font-size-l;
  margin-left: auto;
}
