.detail {
  background-color: white;
  display: flex;
  padding: $spacing-l;

  @media only screen and (max-width: $bp-desktop) {
    padding: $spacing-m;
    flex-direction: column;
  }

  @media only screen and (max-width: $bp-mobile) {
    padding: $spacing-s;
  }
}

.description {
  background-color: white;
  flex: 0 0 60%;
  font-size: $font-size-m;
  margin-right: $spacing-l;
  padding: 0;

  @media only screen and (max-width: $bp-tablet-land) {
    margin: 0;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: $spacing-s;
}

.list {
  border-bottom: $border-light;
  display: flex;
  flex-wrap: wrap; // Allow items to break onto own lines
  list-style: none;
  margin: $spacing-m 0;
  padding: $spacing-m 0;

  @media only screen and (max-width: $bp-mobile) {
    padding: 0;
  }
}

.list__item {
  flex: 0 0 50%; // 2 items per row
  margin-bottom: $spacing-xs;
  padding-right: $spacing-s;

  @media only screen and (max-width: $bp-mobile) {
    flex-basis: 100%;
    margin-bottom: $spacing-s;
    padding-right: 0;
  }

  // Arrow list as a pseudo element
  &::before {
    content: '';
    display: inline-block;
    height: 1rem;
    margin-right: $spacing-xs;
    width: 1rem;

    // For older browsers
    background-image: url(/img/chevron-thin-right.svg);
    background-size: cover;

    // Newer browsers: mask, works with colors
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: $color-primary-light;

      // Remove the background-image for older browsers
      background-image: none;
      mask-image: url(/img/chevron-thin-right.svg);
      mask-size: cover;
    }
  }
}

.recommend {
  align-items: center;
  color: $color-grey-dark-2;
  display: flex;
  font-size: $font-size-s;

  @media only screen and (max-width: $bp-mobile) {
    flex-wrap: wrap;
  }
}

.recommend__count {
  margin: $spacing-xs 0;
  margin-right: $spacing-xs;
}

.recommend__friends {
  display: flex;
}

.recommend__photo {
  border: 3px solid white;
  border-radius: 50%;
  box-sizing: content-box; // Border added on top of the height and the width
  height: 4rem;
  width: 4rem;

  // Overlapping photos
  &:not(:last-child) {
    margin-right: -1rem;
  }
}
