.overview {
  align-items: center;
  background-color: $color-grey-light-1;
  display: flex;

  @media only screen and (max-width: $bp-tablet-port) {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.overview__heading {
  flex-grow: 0;
  font-size: $font-size-xl;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 1.5rem $spacing-m 1.5rem $spacing-l;
  text-transform: uppercase;

  @media only screen and (max-width: $bp-desktop) {
    font-size: $font-size-l;
    padding: 1.5rem $spacing-m;
  }

  @media only screen and (max-width: $bp-tablet-port) {
    font-size: 2rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    padding: $spacing-s;
  }
}

.overview__stars {
  display: flex;
  margin-right: auto; // Push everything else to the right

  @media only screen and (max-width: $bp-mobile) {
    margin: 0;
  }
}

.overview__icon-star,
.overview__icon-location-pin {
  fill: $color-primary;
  height: $icon-size-s;
  width: $icon-size-s;

  @media only screen and (max-width: $bp-tablet-land) {
    height: $icon-size-xs;
    width: $icon-size-xs;
  }
}

.overview__location {
  display: flex;
  flex: 0 0 auto;
  font-size: $font-size-s;
  margin: $spacing-s;
  vertical-align: center;
}

.overview__icon-location-pin {
  margin-right: .5rem;
}

.overview__rating {
  align-items: center; // Horizontally
  align-self: stretch;
  background-color: $color-primary;
  color: white;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center; // Vertically
  margin-left: 3rem;
  padding: $spacing-xs;

  @media only screen and (max-width: $bp-tablet-port) {
    margin: $spacing-xs 0;
    flex-basis: 100%;
  }
}

.overview__rating-average {
  font-size: $font-size-l;
  font-weight: 300;
  margin-bottom: -3px;

  @media only screen and (max-width: $bp-tablet-land) {
    font-size: 2rem;
  }

  @media only screen and (max-width: $bp-tablet-port) {
    font-size: $font-size-m;
  }
}

.overview__rating-count {
  font-size: $font-size-s;
  text-transform: uppercase;

  @media only screen and (max-width: $bp-tablet-land) {
    font-size: $font-size-xs;
    font-weight: 300;
  }
}
